section.section.section--advantages#features
	.container
		.advantages__wrap
			ul.advantages__list
				-
					var items =
						{
							'custom':'easily customised',
							'response': 'responsive ready',
							'modern' : 'modern design',
							'atom' : 'clean code',
							'ship' : 'ready to ship',
							'cloud' : 'download for free'
						};	
				each val,key in items
					li(class="advantages__item advantages__item--" + key)
						h2.advantages__title= val
						.advantages__text
							| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla

