section.section.section--hero
	.container
		.hero__content
			h1.hero__title
				| your favorite one page multi purpose template
			.hero__subtitle
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magnavel scelerisque nisl consectetur et.
			button.hero__more-btn(type="button")
				| find out more