section.section.section--portfolio#works
	-var n = 0
	ul.project__list
		while n++ < 8
			li(class='project__item project__item--' + n)
				a.project__link(href="#")
					.project__img-wrap
						img.project__img(src="images/" + n + ".jpg")
					.project__info
						.project__name
							| project name
						.project__description
							| User Interface Design
