section.section.section--team#team
	.container
		.team__wrap
			ul.team__list
				li.team__team-member
					.team__photo-wrap
						img.team__photo-img(src='images/team1.jpg' alt='Ruth Woods')
					.team__name
						| Ruth Woods
					.team__job
						| Founder, CEO
					.team__info
						| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
					ul.team__socials-list
						-var socials = ['facebook', 'twitter', 'linkedin']
						each social in socials
							li.team__socials-item
								a(class="team__socials-link team__socials-link--" + social href="#")=social
				li.team__team-member
					.team__photo-wrap
						img.team__photo-img(src='images/team2.jpg' alt='Timothy Reed')
					.team__name
						| Timothy Reed
					.team__job
						| Co-founder, Developer
					.team__info
						| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
					ul.team__socials-list
						-var socials = ['facebook', 'twitter', 'linkedin']
						each social in socials
							li.team__socials-item
								a(class="team__socials-link team__socials-link--" + social href="#")=social
				li.team__team-member
					.team__photo-wrap
						img.team__photo-img(src='images/team3.jpg' alt='Victoria Valdez')
					.team__name
						| Victoria Valdez
					.team__job
						| UI Designer
					.team__info
						| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
					ul.team__socials-list
						-var socials = ['facebook', 'twitter', 'linkedin']
						each social in socials
							li.team__socials-item
								a(class="team__socials-link team__socials-link--" + social href="#")=social
				li.team__team-member
					.team__photo-wrap
						img.team__photo-img(src='images/team4.jpg' alt='Beverly Little')
					.team__name
						| Beverly Little
					.team__job
						| Data scientist
					.team__info
						| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
					ul.team__socials-list
						-var socials = ['facebook', 'twitter', 'linkedin']
						each social in socials
							li.team__socials-item
								a(class="team__socials-link team__socials-link--" + social href="#")=social