html(lang="en")
	head
		meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		title
			block title
		link(rel="stylesheet", href="css/main.css")
	body
		.wrapper
			include _common/_header
			block content
		include _common/_footer
		script(src='js/main.js')
