footer.main-footer
	.container
		.prefooter
			.prefooter__grid.prefooter__location
				h3.location__title
					| Location
				address.location__address
					span
						| 3481 Melrose Place
					span
						| Beverly Hils, CA 90210
			.prefooter__grid.prefooter__socials
				h3.socials__title
					| Share with love
				ul.socials__list
					-var socials = ['facebook', 'twitter', 'linkedin']
					each social in socials
						li.socials__item
							a(class="socials__link socials__link--" + social href='#')= social
			.prefooter__grid.prefooter__about
				h3.about__title
					| About Activebox
				.about__text
					| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.
	.copyright
		| Copyright © 2016 ActiveBox. All Rights Reserved.