header.main-header
	.container.container--header
		.main-header__wrap
			a(href='index.html' class='main-logo__link')
				object(type="image/svg+xml" class="main-logo__img" data="images/ActiveBox.svg")
			nav.nav-menu
				ul.nav-menu__list
					-var items = ['features', 'works', 'our team', 'testimonials', 'download']
					each item in items
						li.nav-menu__item
							a.nav-menu__link(href='#')= item