html {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}
.section {
	width: 100%;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
}
.clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}