:root {
	--red: #e84545;
	--text-color-dark: #2d3033;
	--text-color-gray: #6c7279;
	--purple-dark: #313454;
	--purple: #3a3e64;

	--btn: var(--red);
	--btn-hover: color(var(--btn) blackness(-10%));

	--main-hover: color(var(--red) alpha(-30%));
}