.advantages__wrap {
	padding: 110px 0 50px;
}
.advantages__list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.advantages__item {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 0 30px;
	padding-top: 90px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	margin-bottom: 65px;
	background-repeat: no-repeat;
	background-position: 50% 10px;

	&--custom {
		background-image: url('../images/custom.png');
	}
	&--response {
		background-image: url('../images/response.png');
	}
	&--modern {
		background-image: url('../images/modern.png');
	}
	&--atom {
		background-image: url('../images/atom.png');
	}
	&--ship {
		background-image: url('../images/ship.png');
	}
	&--cloud {
		background-image: url('../images/cloud.png');
	}
}
.advantages__title {
	font-weight: 700;
	color: var(--text-color-dark);
	text-transform: uppercase;
	margin-bottom: 20px;
}
.advantages__text {
	font-weight: 400;
	color: var(--text-color-gray);
	line-height: 1.5;
}