.btn {
	display: inline-block;
	border: none;
	text-transform: uppercase;
	min-width: 200px;
	background: var(--btn);
	padding: 15px 20px;
	color: #fff;
	font-size: 13px;

	&:hover {
		background: var(--btn-hover);
	}
}