.main-footer {
	background: var(--purple);
}
.copyright {
	width: 100%;
	padding: 30px;
	font-size: 14px;
	font-weight: 400;
	color: var(--text-color-gray);
	text-align: center;
	background: var(--purple-dark);
	box-sizing: border-box;
}
.prefooter {
	padding: 52px 0 75px;
	text-align: center;
	font-size: 0;
}
.prefooter__grid {
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 3);
	font-size: 14px;
	color: #ffffff;
	padding: 0 40px;
	box-sizing: border-box;
}
.location__title,
.about__title,
.socials__title {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 14px;
}
.location__address {
	& span {
		font-style: normal;
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
	}
}
.socials__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.socials__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	
	&:last-child {
		margin-right: 0;
	}
}
.socials__link {
	text-indent: -9999px;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 2px solid #ffffff;
	background-repeat: no-repeat;
	background-position: 50%;
	transition: .2s;
	border-radius: 2px;

	&--twitter {
		background-image: svg('src/img/svg/twitter', '[fill]: #fff');
	}
	
	&--linkedin {
		background-image: svg('src/img/svg/linkedin', '[fill]: #fff');
	}

	&--facebook {
		background-image: svg('src/img/svg/facebook', '[fill]: #fff');
	}

	&:hover {
		background-color: var(--red);
		border-color: var(--red)
	}
}
.about__text {
	line-height: 1.7;
}
