.main-header {
	position: fixed;
	width: 100%;
	z-index: 100;
	transition: .5s;

	&.sticked {
		background: color(var(--purple-dark) alpha(-10%));
		&:after {
			width: 100%;
		}
		& .nav-menu__link {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		& .main-logo__link {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}
	&:after {
		width: 100%;
		width: 1170px;
		margin: 0 auto;
		display: block;
		content: '';
		height: 1px;
		background:var(--text-color-gray);
		transition: 0.3s;
		margin-top: -1px;
	}
}
.main-header__wrap {
	@extend .clearfix;	
}
.main-logo__link {
	display: inline-block;
	padding: 38px 0;
	transition: .3s;
}
.nav-menu {
	float: right;
	margin-right: -30px;
}
.nav-menu__list {
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-menu__item {
	display: inline-block;
}
.nav-menu__link {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	padding: 43px 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	transition: .3s;

	&:hover {
		background: var(--main-hover);
	}
}
