.section--hero {
	background: url('../images/hero.jpg') no-repeat;
	background-size: cover;
	min-height: 750px;
	display: flex;
	padding: 240px 0 150px;	
	box-sizing: border-box;
}
.hero__content {
	margin: auto;
	width: 920px;
	text-align: center;
	color: #ffffff;
}
.hero__title {
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.hero__subtitle {
	font-family: 'Raleway';
	font-size: 22px;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 75px;
}
.hero__more-btn {
	@extend .btn;
}