.project__list {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	font-size: 0;
}
.project__item {
	width: 25%;
	display: inline-block;
}
.project__link {
	position: relative;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	
	&:before {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		background: var(--main-hover);
		transition: .23s;
		z-index: 1;
	}

	&:hover {
		& .project__img {
			transform: translate(-50%, -50%) scale(1.2);
		}
		&:before {
			visibility: visible;
			opacity: 1;
		}
		& .project__info {
			visibility: visible;
			opacity: 1;
		}
	}
}
.project__img-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 73.5%;
}
.project__img {
	position: absolute;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	transition: .23s ease-in;
}
.project__info {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .2s;
	transition-delay: .1s;
	color: #ffffff;
	z-index: 1;
	text-align: center;
}
.project__name {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.project__description {
	font-size: 14px;
	font-weight: 400;
}
