.team__wrap {
	padding: 100px 0 130px;
}
.team__list {
	margin: 0 -15px;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}
.team__team-member {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	width: 25%;
	padding: 0 15px;
	text-align: left;
	box-sizing: border-box;
}
.team__photo-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 100%;
	margin-bottom: 27px;
}
.team__photo-img {
	position: absolute;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.team__name {
	font-size: 22px;
	font-weight: 400;
	color: var(--text-color-dark);
	margin-bottom: 10px;
}
.team__job {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	color: var(--red);
	margin-bottom: 23px;
}
.team__info {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--text-color-gray);
	margin-bottom: 24px;
}
.team__socials-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.team__socials-item {
	display: inline-block;
	vertical-align: middle;
}
.team__socials-link {
	text-indent: -9999px;
	display: inline-block;
	width: 38px;
	height: 38px;
	border: 1px solid #e8ecee;
	background-repeat: no-repeat;
	background-position: 50%;
	transition: .2s;

	&--twitter {
		background-image: svg('src/img/svg/twitter', '[fill]: #c6cacc');
	}
	
	&--linkedin {
		background-image: svg('src/img/svg/linkedin', '[fill]: #c6cacc');
	}

	&--facebook {
		background-image: svg('src/img/svg/facebook', '[fill]: #c6cacc');
	}

	&:hover {
		background-color: var(--red);
		border-color: var(--red)
	}
}